{{#if a1}}
  <div class="{{a2}} {{if a3 "do not include 1"}}"
    tabindex={{a4}}
    aria-label={{a5}}
  >
    <img class={{a6}}
      id={{concat a7 "do not include 2"}}
      src={{a8}}
      alt="do not include 3"
      hi={{concat a9 "do not include 4"}}
      style={{a10}}
      onload={{action "action"}}
      onerror={{action (if "action1" a11)}}
      onWhatever={{action "action2" a12}}
      draggable={{a13}}>
  </div>
{{/if}}
